# vendors
/vendor

# build result
/bin
/build
debug
debug.test
Gopkg.lock
*.o
*.a

# vim swp file
*.swp
*.tmp

# IDE specific
*.vscode
*.idea
*.iml

# developer workspace specific
/conf

# consensus test directory
/consensus/**/tmp/

# python cache
venv
__pycache__

.DS_Store
.tool-versions
/arglog.toml
