# vendors
/vendor

# build result
/bin
debug
debug.test
Gopkg.lock
*.o
*.a
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# vim swp file
*.swp
*.tmp

# IDE specific
*.vscode
*.idea
*.iml

# developer workspace specific
/conf

