# vendors
/vendor

# build result
/bin
debug
debug.test
Gopkg.lock

# vim swp file
*.swp
*.tmp

# IDE specific
*.vscode
*.idea
*.iml

# developer workspace specific
/conf

# external libraries
/libtool/src/m4-1.4.18
/libtool/src/bison-3.0.5
/libtool/src/flex-2.6.4
/libtool/bin
/libtool/include
/libtool/lib
/libtool/share
