[submodule "libtool/src/luajit"]
	path = libtool/src/luajit
	url = https://github.com/aergoio/luajit.git
[submodule "aergo-protobuf"]
	path = aergo-protobuf
	url = https://github.com/aergoio/aergo-protobuf.git
[submodule "libtool/src/binaryen"]
	path = libtool/src/binaryen
	url = https://github.com/aergoio/binaryen.git
[submodule "libtool/src/WAVM"]
	path = libtool/src/WAVM
	url = https://github.com/aergoio/WAVM.git
