[submodule "libtool/src/luajit"]
	path = libtool/src/luajit
	url = https://github.com/aergoio/luajit.git
[submodule "aergo-protobuf"]
	path = aergo-protobuf
	url = git@github.com:aergoio/aergo-protobuf.git
