# use this example
import conf_type
from conf_type import Role

testname = "p2ptest"

machines = (conf_type.Machine("linux", "192.168.1.12", "192.168.1.12:22", "hayarobipark", "/var/blockchain/pytest"), # remote machine
            conf_type.Machine("mac", "192.168.1.13", "", "", "/Users/hayarobipark/Developer/blockchain/pytest"), # localhost machin
            conf_type.Machine("mac", "192.168.50.110", "localhost:19999", "hayarobipark",
                             "/Users/sg31park/Developer/blockchain/pytest"), # virtual machine, docker virtual network or etc.
            )

# total bp and agent count and organization is hardcode yet
nodes = (conf_type.Node(machines[0], Role.producer, True),
         conf_type.Node(machines[0], Role.producer, True),
         conf_type.Node(machines[0], Role.producer, True),
         conf_type.Node(machines[0], Role.agent, False, [0, 1, 2]),
         conf_type.Node(machines[1], Role.producer, True),
         conf_type.Node(machines[1], Role.producer, True),
         conf_type.Node(machines[1], Role.agent, False, [4, 5]),
         conf_type.Node(machines[1], Role.watcher, True),
         conf_type.Node(machines[2], Role.producer, False),
         conf_type.Node(machines[2], Role.watcher, False),
         )

polarises = ()
#polarises = ("/ip4/192.168.1.12/tcp/8916/p2p/16Uiu2HAmJCmxe7CrgTbJBgzyG8rx5Z5vybXPWQHHGQ7aRJfBsoFs", "/ip4/192.168.1.13/tcp/8916/p2p/16Uiu2HAm1avWH56QiCXiVNKVerPYZNoqYKV3FxwbAtHU22iJKXZ3")

# genesis info
gen_magic = "test.hayarobipark.aergo"
holders = (0, 4, 8)
