# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Unit Tests

on:
  workflow_dispatch:

jobs:
  build_and_unittest:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.20'

    - name: Install dependencies
      run: |
        sudo apt-get install -y jq m4 make cmake

    - name: Build
      run: make

    - name: Unit Tests
      run: go test -timeout 999s ./...
