# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Short Test

on:
  push:
    branches-ignore: # master and develop run complete tests on another workflow
      - master
      - develop

jobs:
  check_if_pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: Check if Pull Request
        uses: 8BitJonny/gh-get-current-pr@2.2.0
        id: pr_check
    outputs:
      is_pull_request: ${{ steps.pr_check.outputs.pr_found }}

  build_and_test:
    needs: check_if_pull_request
    if: needs.check_if_pull_request.outputs.is_pull_request != 'true'

    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.20'

    - name: Install dependencies
      run: |
        sudo apt-get install -y jq m4 make cmake

    - name: Build
      run: make

    - name: Short Unit Tests
      run: go test -short -timeout 999s ./...
      env:
        ARGLIB_LOGCONFIG: "${{ github.workspace }}/.github/arglog-shorttest.toml"
